/*-- Navigation Bar --*/
.navbar{
    background-color: #358600;
}

.nav-link:hover{
    background-color: white;
    color: black !important;
}

/*-- About Us --*/
.about{
    background-size: cover;
    background-position: top;
    min-height: 80vh;
    position: relative;
    text-justify: auto;
}

.banner{
    position: relative;
    padding-top: 166px;
    padding-left: 200px;
    padding-bottom: 169px;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/*-- Other Body Content --*/
.care{
    background-size: cover;
    background-position: bottom;
    min-height: 80vh;
    position: relative;
    text-shadow: 2px 2px 4px #233329;
    text-justify: auto;
}

/*-- Newsletter Section --*/
.newsletter{
    background-color: #855044;
}

@media (min-width: 768px){
    .news-input{width:50%;}
}