/*-- Navigation Bar --*/
.navbar{
    background-color: #358600;
}

.nav-link:hover{
    background-color: white;
    color: black !important;
}

/*-- Pricing list --*/
.price{
    background-size: cover;
    background-position: top;
    min-height: 40vh;
    position: relative;
    text-justify: auto;
}

.banner{
    background-color: rgba(0, 0, 0, 0.4);
}

/*-- Products --*/
.custom-bg{
    height: 320px;
    background: #7dbe7e98;
    border-radius: 12px;
}

.custom-footer{
    background-color: transparent;
    border: none;
}

/*-- Newsletter Section --*/
.newsletter{
    background-color: #855044;
}

@media (min-width: 768px){
    .news-input{width:50%;}
}