/*-- Navigation Bar --*/
.navbar{
    background-color: #358600;
}

.nav-link:hover{
    background-color: white;
    color: black !important;
}

/*-- Our Products --*/
.product{
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    position: relative;
    text-justify: auto;
}

.banner{
    background-color: rgba(0, 0, 0, 0.4);
}

/*-- Product Content --*/
.product .text-inform{
    padding: 105px;
}

.text-inform h5{
    color: #63C132;
}

/*-- Newsletter Section --*/
.newsletter{
    background-color: #855044;
}

@media (min-width: 768px){
    .news-input{width:50%;}
}

@media (max-width: 768px){
    section.product{text-align: center;}
}

@media (max-width: 320px){
    section.product{text-align: center;}
}