/*-- Navigation Bar --*/
.navbar{
    background-color: #358600;
}

.nav-link:hover{
    background-color: white;
    color: black !important;
}

/*-- Carousel Slogan --*/
.slogan{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px black;
}

/*-- Carousel Photos --*/
.photos{
    height: 680px;
    object-fit: cover;
}

/*-- Carousel Button --*/
.cust{
    background-color: #63C132;
}

/*-- Newsletter Section --*/
@media (min-width: 768px){
    .news-input{width:50%;}
}

.newsletter{
    background-color: #855044;
}

/*-- Other Body Content --*/
.care{
    background-size: cover;
    background-position: bottom;
    min-height: 80vh;
    position: relative;
    text-shadow: 2px 2px 4px #233329;
    text-justify: auto;
}