.navbar{
    background-color: #358600;
}

.nav-link:hover{
    background-color: white;
    color: black !important;
}

.slogan{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
    text-shadow: 2px 2px 4px black;
}

.photos{
    height: 620px;
    object-fit: cover;
}

.cust{
    background-color: #63C132;
}

@media (min-width: 768px){
    .news-input{width:50%;}
}

.Newsletter{
    background-color: #855044;
}